.profile-image {
    width: 56%;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;;
}

.center {
    justify-content: center;
}

.center-text {
    text-align: center;
}

.app-home {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
}

.img-responsive {
    width: 100%;
    height: auto;;
}

.img-circle {
    border-radius: 50%;
}

@media only screen and (min-width: 768px) {
    .app-home {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
    }
} 