.profile-image {
    width: 30%;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
}

.flex-nowrap {
    flex-flow: nowrap;
}

.flex-align-center {
    align-items: center;
}

.center {
    justify-content: center;
}

.center-text {
    text-align: center;
}

.app-home {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
}

.img-responsive {
    width: 100%;
    height: auto;;
}

.img-circle {
    border-radius: 50%;
    border: 3px solid black;
}

.contact-card {
    background-color: #fefb02;
    color: black;
    padding: 4%;
    clip-path: polygon(8% 5%, 10% 0%, 100% 0, 100% 90%, 79% 90%, 75% 100%, 0 100%, 0 5%)
}

.contact-card h1 {
    width: 70%;
    padding-left: 4%
}

.about-me {
    background-color: #fefb02;
    color: black;
    padding: 4%;
}

section {
    outline: 1px solid #fefb02;
}

@media only screen and (min-width: 768px) {
    .app-home {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
    }
} 